<div class="slideshow-container">
	<div class="mySlide">
		<%= link_to(products_path) do %>
			<%= image_tag("love-3.png", style: "width: 100%;") %>
		<% end %>
	</div>

	<div class="mySlide">
		<%= link_to(products_path) do %>
			<%= image_tag("travel-1.png", style: "width: 100%;") %>
		<% end %>
	</div>

	<div class="mySlide">
		<%= link_to(products_path) do %>
			<%= image_tag("company-1.png", style: "width: 100%;") %>
		<% end %>
	</div>
</div>
<br>
<div style="text-align: center;">
	<span class="dot" ></span>
	<span class="dot" ></span>
	<span class="dot" ></span>
</div>
<script type="text/javascript">
	var slideIndex = 0;
	showSlide();
	function showSlide() {
	    var i;
	    var slides = document.getElementsByClassName("mySlide");
	    var dots = document.getElementsByClassName("dot");
	    var len = slides.length;
	    for (i = 0; i < slides.length; i++) {
	       slides[i].style.display = "none";
	       dots[i].className = dots[i].className.replace(" active-slide", "");
	    }
	    slideIndex++;
	    if (slideIndex> len) {slideIndex = 1;}
	    slides[slideIndex-1].style.display = "block";
	    dots[slideIndex-1].className += " active-slide";
	    setTimeout(showSlide, 5000); // Change image every 2 seconds
	}
</script>
