<div class="jumbotron">
        <div class="container text-center">
             <h1 class="page-header">Let's Action</h1>
        <p class="lead">这里将精心为您准备不同风格的模版 来展现您为图片赋予的情感</p>
        </div>

	</div>

	<div class="container ">
	    <div class="row">

	        <div class="col-md-4 well pricing-table">
	            <div class="pricing-table-holder">
	                <center>
	                    <img src="https://ww1.sinaimg.cn/large/006tNc79ly1fcs9x9kdexj302s02s74v.jpg" class="img-responsive img-circle" alt="">
	                    <h3>成长往事</h3>
	                    <p class="caption">
	                        这里有校园回忆、爱情故事、兄弟情义，这里将故事融入韵律、记忆加入声音、心情有了颜色。
	                    </p>
	                </center>



	            </div>

	            <div class="custom-button-group" style="">

                    <div class="col-md-12 " style="padding:0;">
                        <button type="button" class="btn btn-royal-blue btn-block dropdown-toggle" style="border-radius:0;" data-toggle="dropdown" aria-expanded="false">
                          最新更新
                          <span class="caret"></span>
                        </button>

                      </div>



	            </div>
              <div class="land-category-image">
                <%= link_to(products_path) do %>

        					<%= image_tag("love-1.jpg", style: "width: 100%;") %>
        				<% end %>
        			</div>
	            <!-- <div class="pricing-feature-list">
	                <ul class="list-group">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
	            </div> -->


	        </div>
	              <div class="col-md-4 well pricing-table">
	            <div class="pricing-table-holder">
	                <center>
	                    <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fcsbewoajkj302s02s752.jpg" class="img-responsive img-circle" alt="">
	                    <h3>旅行记录</h3>
	                    <p class="caption">
	                        不同的韵律和颜色会勾勒出不同的旅行心情，把你的心情融入到旅行中才是照片的意义。
	                    </p>
	                </center>



	            </div>

              <div class="custom-button-group" style="">

                    <div class="col-md-12 " style="padding:0;">
                        <button type="button" class="btn btn-royal-blue btn-block dropdown-toggle" style="border-radius:0;" data-toggle="dropdown" aria-expanded="false">
                          最新更新
                          <span class="caret"></span>
                        </button>

                      </div>



	            </div>
              <div class="land-category-image">
                <%= link_to(products_path) do %>

                  <%= image_tag("travel.jpg", style: "width: 100%;") %>
                <% end %>
              </div>
	            <!-- <div class="pricing-feature-list">
	                <ul class="list-group">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
	            </div> -->

	            <!--<div class="price-table-button-holder">
	            	                <button class="btn btn-info btn-block">
	                    GET NOW
	                </button>
	            </div>-->
	        </div>
	              <div class="col-md-4 well pricing-table">
	            <div class="pricing-table-holder">
	                <center>
	                    <img src="https://ww1.sinaimg.cn/large/006tNc79ly1fcsa7gh1ltj302s02s3z6.jpg" class="img-responsive img-circle" alt="">
	                    <h3>商业宣传</h3>
	                    <p class="caption">
	                        没有项目大小，只有用户至上。小清新、高科技、史诗制作、促销活动您的需求就是我们的责任。
	                    </p>
	                </center>



	            </div>

              <div class="custom-button-group" style="">

                    <div class="col-md-12 " style="padding:0;">
                        <button type="button" class="btn btn-royal-blue btn-block dropdown-toggle" style="border-radius:0;" data-toggle="dropdown" aria-expanded="false">
                          最新更新
                          <span class="caret"></span>
                        </button>

                      </div>



	            </div>
              <div class="land-category-image">
                <%= link_to(products_path) do %>

                  <%= image_tag("company.jpg", style: "width: 100%;") %>
                <% end %>
              </div>
	            <!-- <div class="pricing-feature-list">
	                <ul class="list-group">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Morbi leo risus</li>
                      <li class="list-group-item">Porta ac consectetur ac</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
	            </div> -->

	            <!--<div class="price-table-button-holder">
	            	                <button class="btn btn-info btn-block">
	                    GET NOW
	                </button>
	            </div>-->
	        </div>
	    </div>
	</div>
